<a href="https://colab.research.google.com/github/capitallatera/Minor_Projects/blob/master/covid19_in_punjab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pip install bs4

In [ ]:
# importing the BeautifulSoup Library
import bs4
import requests

In [ ]:
res=requests.get("https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Punjab,_India")

In [ ]:
# Convert the request object to the Beautiful Soup Object
soup=bs4.BeautifulSoup(res.text,'html.parser')

In [ ]:
data=[]
data_iterator=iter(soup.find_all('tr'))

In [ ]:
while True:
    try:
        d_1=next(data_iterator).text
        
        data.append((
            d_1
        ))
    except StopIteration:
        break

In [ ]:
jj=[]
for i in data:
    s=i.replace("\n\n",',')
    s=s.replace('\n','')
    jj.append([s])

In [ ]:
for i,j in zip(jj,range(len(jj))):
    if i[0]=='COVID-19 pandemic in Punjab by Districts':
        print(i[0],j)
    if i[0]=='Date(2020),District,Cases,Deaths':
        print(i[0],j)

COVID-19 pandemic in Punjab by Districts 15
Date(2020),District,Cases,Deaths 41

In [ ]:
llst=[]
for i,j in zip(jj,range(len(jj))):
    if j>=18 and j<40:
        llst.append([i[0]])

In [ ]:
lst=[]
for j in range(len(llst)):
    ii=llst[j][0].split(',')
    lst.append(ii)

In [ ]:
import csv
fields=['Districts','Active cases','Recovered','Deaths','Total cases']
lst
filename='covid19_punjab_dataset.csv'
with open(filename,'w') as csvfile:
    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(lst)

###  Reading the dataset

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('covid19_punjab_dataset.csv')
df.head(3)

  Districts Active cases Recovered Deaths  Total cases
0  Amritsar     (12) 155       722     39          916
1   Barnala           29        28      2           59
2  Bathinda           14        74      2           90

In [ ]:
# # remove the parenthesis area
# s='a(12)b'
# import re
# re.sub(r" ?\([^)]+\)", "", s)

In [ ]:
df.head(2)

  Districts Active cases Recovered Deaths  Total cases
0  Amritsar     (12) 155       722     39          916
1   Barnala           29        28      2           59

In [ ]:
import re
df['Active cases']=df['Active cases'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [ ]:
# df['Recovered']=df['Recovered'].apply(lambda x:re.sub(r" ?\([^)]+\)", "", x))

In [ ]:
df['Deaths']=df['Deaths'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [ ]:
df['Active cases']=df['Active cases'].map(lambda x: int(x))
df['Deaths']=df['Deaths'].map(lambda x: int(x))

In [ ]:
# Top five city contains active cases
df.sort_values('Active cases',ascending=False).head()

    Districts  Active cases Recovered  Deaths  Total cases
9   Jalandhar           329       371      20          720
20    Sangrur           236       221      13          470
11   Ludhiana           204       570      21          795
18    Patiala           174       144       8          326
0    Amritsar           155       722      39          916