<a href="https://colab.research.google.com/github/capitallatera/Minor_Projects/blob/master/covid19_in_punjab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pip install bs4

In [2]:
# importing the BeautifulSoup Library
import bs4
import requests

In [3]:
res=requests.get("https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Punjab,_India")

In [4]:
# Convert the request object to the Beautiful Soup Object
soup=bs4.BeautifulSoup(res.text,'html.parser')

In [5]:
data=[]
data_iterator=iter(soup.find_all('tr'))

In [6]:
while True:
    try:
        d_1=next(data_iterator).text
        
        data.append((
            d_1
        ))
    except StopIteration:
        break

In [7]:
jj=[]
for i in data:
    s=i.replace("\n\n",',')
    s=s.replace('\n','')
    jj.append([s])

In [8]:
for i,j in zip(jj,range(len(jj))):
    if i[0]=='COVID-19 pandemic in Punjab by Districts':
        print(i[0],j)
    if i[0]=='Date(2020),District,Cases,Deaths':
        print(i[0],j)

COVID-19 pandemic in Punjab by Districts 16
Date(2020),District,Cases,Deaths 42

In [9]:
llst=[]
for i,j in zip(jj,range(len(jj))):
    if j>=19 and j<41:
        llst.append([i[0]])

In [10]:
lst=[]
for j in range(len(llst)):
    ii=llst[j][0].split(',')
    lst.append(ii)

In [11]:
import csv
fields=['Districts','Active cases','Recovered','Deaths','Total cases','Tests']
lst
filename='covid19_punjab_dataset.csv'
with open(filename,'w') as csvfile:
    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(lst)

In [12]:
# llst
lst

[['Amritsar', '414', '1853', '96', '2363', '-'],
 ['Barnala', '313', '123', '9', '445', '-'],
 ['Bathinda', '465', '373', '11', '849', '-'],
 ['Faridkot', '100', '289', '1', '390', '-'],
 ['Fatehgarh Sahib', '133', '365', '5', '503', '-'],
 ['Fazilka', '92', '273', '2', '367', '-'],
 ['Firozpur', '361', '288', '8', '657', '-'],
 ['Gurdaspur', '252', '602', '24', '878', '-'],
 ['Hoshiarpur', '59', '556', '15', '630', '-'],
 ['Jalandhar', '977', '2032', '77', '3086', '-'],
 ['Kapurthala', '178', '238', '15', '431', '-'],
 ['Ludhiana', '1865', '3165', '173', '5203', '-'],
 ['Mansa', '60', '134', '1', '195', '-'],
 ['Moga', '266', '318', '5', '589', '-'],
 ['Mohali', '582', '659', '19', '1260', '-'],
 ['Muktsar Sahib', '64', '236', '2', '302', '-'],
 ['Nawanshahr', '74', '280', '7', '361', '-'],
 ['Pathankot', '164', '377', '13', '554', '-'],
 ['Patiala', '1078', '1592', '48', '2718', '-'],
 ['Rupnagar', '111', '250', '6', '367', '-'],
 ['Sangrur', '212', '1033', '36', '1281', '-'],
 ['Tarn Taran', '178', '283', '13', '474', '-']]

###  Reading the dataset

In [13]:
import pandas as pd

In [14]:
df=pd.read_csv('covid19_punjab_dataset.csv')
df.head(3)

  Districts  Active cases  Recovered  Deaths  Total cases Tests
0  Amritsar           414       1853      96         2363     -
1   Barnala           313        123       9          445     -
2  Bathinda           465        373      11          849     -

In [15]:
# # remove the parenthesis area
# s='a(12)b'
# import re
# re.sub(r" ?\([^)]+\)", "", s)

In [16]:
df.head(2)

  Districts  Active cases  Recovered  Deaths  Total cases Tests
0  Amritsar           414       1853      96         2363     -
1   Barnala           313        123       9          445     -

In [18]:
import re
# df['Active cases']=df['Active cases'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [20]:
# df['Recovered']=df['Recovered'].apply(lambda x:re.sub(r" ?\([^)]+\)", "", x))

In [22]:
# df['Deaths']=df['Deaths'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [23]:
df['Active cases']=df['Active cases'].map(lambda x: int(x))
df['Recovered']=df['Recovered'].map(lambda x: int(x))
df['Deaths']=df['Deaths'].map(lambda x: int(x))

In [24]:
# Top five cities have Maximum Deaths
df.sort_values('Deaths',ascending=False).head()

    Districts  Active cases  Recovered  Deaths  Total cases Tests
11   Ludhiana          1865       3165     173         5203     -
0    Amritsar           414       1853      96         2363     -
9   Jalandhar           977       2032      77         3086     -
18    Patiala          1078       1592      48         2718     -
20    Sangrur           212       1033      36         1281     -

In [25]:
# Top five cities have Maximum Active cases
df.sort_values('Active cases',ascending=False).head()

    Districts  Active cases  Recovered  Deaths  Total cases Tests
11   Ludhiana          1865       3165     173         5203     -
18    Patiala          1078       1592      48         2718     -
9   Jalandhar           977       2032      77         3086     -
14     Mohali           582        659      19         1260     -
2    Bathinda           465        373      11          849     -

In [26]:
df.describe()

       Active cases    Recovered      Deaths  Total cases
count     22.000000    22.000000   22.000000    22.000000
mean     363.545455   696.318182   26.636364  1086.500000
std      435.148111   778.990457   40.941940  1221.638624
min       59.000000   123.000000    1.000000   195.000000
25%      102.750000   274.750000    5.250000   400.250000
50%      195.000000   341.500000   12.000000   571.500000
75%      400.750000   644.750000   22.750000  1164.500000
max     1865.000000  3165.000000  173.000000  5203.000000

In [27]:
# Average cases has increased by 363 earlier it was recorded 200
df['Active cases'].mean()

363.54545454545456