<a href="https://colab.research.google.com/github/capitallatera/Minor_Projects/blob/master/covid19_in_punjab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pip install bs4

In [2]:
# importing the BeautifulSoup Library
import bs4
import requests

In [3]:
res=requests.get("https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Punjab,_India")

In [4]:
# Convert the request object to the Beautiful Soup Object
soup=bs4.BeautifulSoup(res.text,'html.parser')

In [5]:
data=[]
data_iterator=iter(soup.find_all('tr'))

In [6]:
while True:
    try:
        d_1=next(data_iterator).text
        
        data.append((
            d_1
        ))
    except StopIteration:
        break

In [7]:
jj=[]
for i in data:
    s=i.replace("\n\n",',')
    s=s.replace('\n','')
    jj.append([s])

In [8]:
for i,j in zip(jj,range(len(jj))):
    if i[0]=='COVID-19 pandemic in Punjab by Districts':
        print(i[0],j)
    if i[0]=='Date(2020),District,Cases,Deaths':
        print(i[0],j)

COVID-19 pandemic in Punjab by Districts 16
Date(2020),District,Cases,Deaths 42

In [9]:
llst=[]
for i,j in zip(jj,range(len(jj))):
    if j>=19 and j<41:
        llst.append([i[0]])

In [10]:
lst=[]
for j in range(len(llst)):
    ii=llst[j][0].split(',')
    lst.append(ii)

In [11]:
import csv
fields=['Districts','Active cases','Recovered','Deaths','Total cases','Tests']
lst
filename='covid19_punjab_dataset.csv'
with open(filename,'w') as csvfile:
    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(lst)

In [12]:
# llst
lst

[['Amritsar', '342', '1174', '69', '1585', '35.6K'],
 ['Barnala', '63', '77', '3', '143', '9.6K'],
 ['Bathinda', '130', '161', '5', '296', '17.3K'],
 ['Faridkot', '77', '183', '0', '260', '12.3K'],
 ['Fatehgarh Sahib', '(ðŸ”¼24)110', '210', '2', '322', '13.7K'],
 ['Fazilka', '88', '143', '1', '232', '11.9K'],
 ['Firozpur', '114', '176', '6', '296', '12.9K'],
 ['Gurdaspur', '97', '318', '16', '431', '21.9K'],
 ['Hoshiarpur', '205', '294', '13', '512', '19.6K'],
 ['Jalandhar', '823', '1196', '39', '2058', '32.5K'],
 ['Kapurthala', '59', '142', '9', '210', '14.8K'],
 ['Ludhiana', '776', '1751', '64', '2591', '51.9K'],
 ['Mansa', '48', '63', '0', '111', '13.4K'],
 ['Moga', '104', '175', '6', '285', '20.9K'],
 ['Mohali', '264', '460', '14', '738', '16.9K'],
 ['Muktsar Sahib', '37', '174', '1', '212', '11.5K'],
 ['Nawanshahr', '50', '244', '3', '297', '13.8K'],
 ['Pathankot', '61', '263', '11', '335', '10.6K'],
 ['Patiala', '623', '772', '22', '1417', '32.8K'],
 ['Rupnagar', '38', '166', '4', '208', '17.5K'],
 ['Sangrur', '235', '700', '23', '958', '20.5K'],
 ['Tarn Taran', '67', '222', '7', '296', '13.4K']]

###  Reading the dataset

In [13]:
import pandas as pd

In [14]:
df=pd.read_csv('covid19_punjab_dataset.csv')
df.head(3)

  Districts Active cases  Recovered  Deaths  Total cases  Tests
0  Amritsar          342       1174      69         1585  35.6K
1   Barnala           63         77       3          143   9.6K
2  Bathinda          130        161       5          296  17.3K

In [15]:
# # remove the parenthesis area
# s='a(12)b'
# import re
# re.sub(r" ?\([^)]+\)", "", s)

In [16]:
df.head(2)

  Districts Active cases  Recovered  Deaths  Total cases  Tests
0  Amritsar          342       1174      69         1585  35.6K
1   Barnala           63         77       3          143   9.6K

In [21]:
import re
df['Active cases']=df['Active cases'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [23]:
# df['Recovered']=df['Recovered'].apply(lambda x:re.sub(r" ?\([^)]+\)", "", x))

In [25]:
# df['Deaths']=df['Deaths'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [26]:
df['Active cases']=df['Active cases'].map(lambda x: int(x))
df['Recovered']=df['Recovered'].map(lambda x: int(x))
df['Deaths']=df['Deaths'].map(lambda x: int(x))

In [27]:
# Top five cities have Maximum Deaths
df.sort_values('Deaths',ascending=False).head()

    Districts  Active cases  Recovered  Deaths  Total cases  Tests
0    Amritsar           342       1174      69         1585  35.6K
11   Ludhiana           776       1751      64         2591  51.9K
9   Jalandhar           823       1196      39         2058  32.5K
20    Sangrur           235        700      23          958  20.5K
18    Patiala           623        772      22         1417  32.8K

In [28]:
# Top five cities have Maximum Active cases
df.sort_values('Active cases',ascending=False).head()

    Districts  Active cases  Recovered  Deaths  Total cases  Tests
9   Jalandhar           823       1196      39         2058  32.5K
11   Ludhiana           776       1751      64         2591  51.9K
18    Patiala           623        772      22         1417  32.8K
0    Amritsar           342       1174      69         1585  35.6K
14     Mohali           264        460      14          738  16.9K

In [29]:
df.describe()

       Active cases    Recovered     Deaths  Total cases
count     22.000000    22.000000  22.000000    22.000000
mean     200.500000   412.000000  14.454545   626.954545
std      235.666178   440.611696  19.276750   678.449947
min       37.000000    63.000000   0.000000   111.000000
25%       61.500000   168.000000   3.000000   239.000000
50%      100.500000   216.000000   6.500000   296.500000
75%      227.500000   424.500000  15.500000   681.500000
max      823.000000  1751.000000  69.000000  2591.000000

In [30]:
# Average cases has increased by 200 earlier it was recorded 199
df['Active cases'].mean()

200.5