<a href="https://colab.research.google.com/github/capitallatera/Minor_Projects/blob/master/covid19_in_punjab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# pip install bs4

In [27]:
# importing the BeautifulSoup Library
import bs4
import requests

In [28]:
res=requests.get("https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Punjab,_India")

In [29]:
# Convert the request object to the Beautiful Soup Object
soup=bs4.BeautifulSoup(res.text,'html.parser')

In [30]:
data=[]
data_iterator=iter(soup.find_all('tr'))

In [31]:
while True:
    try:
        d_1=next(data_iterator).text
        
        data.append((
            d_1
        ))
    except StopIteration:
        break

In [32]:
jj=[]
for i in data:
    s=i.replace("\n\n",',')
    s=s.replace('\n','')
    jj.append([s])

In [33]:
for i,j in zip(jj,range(len(jj))):
    if i[0]=='COVID-19 pandemic in Punjab by Districts':
        print(i[0],j)
    if i[0]=='Date(2020),District,Cases,Deaths':
        print(i[0],j)

COVID-19 pandemic in Punjab by Districts 16
Date(2020),District,Cases,Deaths 42

In [44]:
llst=[]
for i,j in zip(jj,range(len(jj))):
    if j>=19 and j<41:
        llst.append([i[0]])

In [46]:
lst=[]
for j in range(len(llst)):
    ii=llst[j][0].split(',')
    lst.append(ii)

In [48]:
import csv
fields=['Districts','Active cases','Recovered','Deaths','Total cases','Tests']
lst
filename='covid19_punjab_dataset.csv'
with open(filename,'w') as csvfile:
    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(lst)

In [47]:
# llst
lst

[['Amritsar', '(55) 305', '(71) 1120', '(1) 66', '1491', '35.6k'],
 ['Barnala', '(18) 37', '(2) 76', '(1) 3', '116', '9.6K'],
 ['Bathinda', '(18) 101', '(22) 155', '4', '260', '17.3K'],
 ['Faridkot', '(10) 104', '154', '0', '258', '12.3K'],
 ['Fatehgarh Sahib', '(10) 83', '(5) 191', '2', '276', '13.7K'],
 ['Fazilka', '70', '(4) 137', '1', '208', '11.9K'],
 ['Firozpur', '(10) 105', '(14) 172', '(1) 6', '283', '12.9K'],
 ['Gurdaspur', '(16) 51', '299', '13', '363', '21.9K'],
 ['Hoshiarpur', '(1) 180', '(11) 258', '13', '451', '19.6K'],
 ['Jalandhar', '(29) 704', '1196', '(1) 38', '1937', '32.5K'],
 ['Kapurthala', '(10) 53', '132', '9', '194', '14.8K'],
 ['Ludhiana', '(155) 759', '1514', '(4) 54', '2327', '51.9K'],
 ['Mansa', '(1) 33', '63', '0', '96', '13.4K'],
 ['Moga', '(6) 101', '(1) 159', '5', '265', '20.9K'],
 ['Mohali', '(32) 218', '(22) 448', '13', '679', '16.9K'],
 ['Muktsar Sahib', '34', '(1) 167', '1', '202', '11.5K'],
 ['Nawanshahr', '(2) 59', '(9) 230', '2', '291', '13.8K'],
 ['Pathankot', '(6) 44', '(2) day 256', '11', '311', '10.6K'],
 ['Patiala', '(40) 764', '510', '20', '1294', '32.8K'],
 ['Rupnagar', '(6) 29', '(16) 165', '(1) 2', '196', '17.5K'],
 ['Sangrur', '(38) 226', '(21) 226', '23', '924', '20.5K'],
 ['Tarn Taran', '(5) 36', '220', '6', '262', '13.4K']]

###  Reading the dataset

In [49]:
import pandas as pd

In [58]:
df=pd.read_csv('covid19_punjab_dataset.csv')
df.head(3)

  Districts Active cases  Recovered  Deaths  Total cases  Tests
0  Amritsar     (55) 305  (71) 1120  (1) 66         1491  35.6k
1   Barnala      (18) 37     (2) 76   (1) 3          116   9.6K
2  Bathinda     (18) 101   (22) 155       4          260  17.3K

In [14]:
# # remove the parenthesis area
# s='a(12)b'
# import re
# re.sub(r" ?\([^)]+\)", "", s)

In [59]:
df.head(2)

  Districts Active cases  Recovered  Deaths  Total cases  Tests
0  Amritsar     (55) 305  (71) 1120  (1) 66         1491  35.6k
1   Barnala      (18) 37     (2) 76   (1) 3          116   9.6K

In [60]:
import re
df['Active cases']=df['Active cases'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [61]:
df['Recovered']=df['Recovered'].apply(lambda x:re.sub(r" ?\([^)]+\)", "", x))

In [62]:
df['Deaths']=df['Deaths'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [64]:
df['Active cases']=df['Active cases'].map(lambda x: int(x))
# df['Recovered']=df['Recovered'].map(lambda x: int(x))
df['Deaths']=df['Deaths'].map(lambda x: int(x))

In [65]:
# Top five cities have Maximum Deaths
df.sort_values('Deaths',ascending=False).head()

    Districts  Active cases Recovered  Deaths  Total cases  Tests
0    Amritsar           305      1120      66         1491  35.6k
11   Ludhiana           759      1514      54         2327  51.9K
9   Jalandhar           704      1196      38         1937  32.5K
20    Sangrur           226       226      23          924  20.5K
18    Patiala           764       510      20         1294  32.8K

In [66]:
# Top five cities have Maximum Active cases
df.sort_values('Active cases',ascending=False).head()

    Districts  Active cases Recovered  Deaths  Total cases  Tests
18    Patiala           764       510      20         1294  32.8K
11   Ludhiana           759      1514      54         2327  51.9K
9   Jalandhar           704      1196      38         1937  32.5K
0    Amritsar           305      1120      66         1491  35.6k
20    Sangrur           226       226      23          924  20.5K

In [67]:
df.describe()

       Active cases     Deaths  Total cases
count     22.000000  22.000000    22.000000
mean     186.181818  13.272727   576.545455
std      237.790151  17.747386   624.690074
min       29.000000   0.000000    96.000000
25%       45.750000   2.000000   220.500000
50%       92.000000   6.000000   279.500000
75%      208.500000  13.000000   622.000000
max      764.000000  66.000000  2327.000000

In [68]:
# Average cases has increased by 186 earlier it was recorded 174
df['Active cases'].mean()

186.1818181818182