<a href="https://colab.research.google.com/github/capitallatera/Minor_Projects/blob/master/covid19_in_punjab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pip install bs4

In [2]:
# importing the BeautifulSoup Library
import bs4
import requests

In [3]:
res=requests.get("https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Punjab,_India")

In [4]:
# Convert the request object to the Beautiful Soup Object
soup=bs4.BeautifulSoup(res.text,'html.parser')

In [5]:
data=[]
data_iterator=iter(soup.find_all('tr'))

In [6]:
while True:
    try:
        d_1=next(data_iterator).text
        
        data.append((
            d_1
        ))
    except StopIteration:
        break

In [7]:
jj=[]
for i in data:
    s=i.replace("\n\n",',')
    s=s.replace('\n','')
    jj.append([s])

In [8]:
for i,j in zip(jj,range(len(jj))):
    if i[0]=='COVID-19 pandemic in Punjab by Districts':
        print(i[0],j)
    if i[0]=='Date(2020),District,Cases,Deaths':
        print(i[0],j)

COVID-19 pandemic in Punjab by Districts 15
Date(2020),District,Cases,Deaths 41

In [9]:
llst=[]
for i,j in zip(jj,range(len(jj))):
    if j>=18 and j<40:
        llst.append([i[0]])

In [10]:
lst=[]
for j in range(len(llst)):
    ii=llst[j][0].split(',')
    lst.append(ii)

In [11]:
import csv
fields=['Districts','Active cases','Recovered','Deaths','Total cases','Tests']
lst
filename='covid19_punjab_dataset.csv'
with open(filename,'w') as csvfile:
    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(lst)

###  Reading the dataset

In [12]:
import pandas as pd

In [13]:
df=pd.read_csv('covid19_punjab_dataset.csv')
df.head(3)

  Districts  Active cases  Recovered  Deaths  Total cases  Tests
0  Amritsar           277       1039      65         1381  35.6k
1   Barnala            20         71       2           93   9.5K
2  Bathinda           105        133       4          242  17.3K

In [14]:
# # remove the parenthesis area
# s='a(12)b'
# import re
# re.sub(r" ?\([^)]+\)", "", s)

In [15]:
df.head(2)

  Districts  Active cases  Recovered  Deaths  Total cases  Tests
0  Amritsar           277       1039      65         1381  35.6k
1   Barnala            20         71       2           93   9.5K

In [16]:
import re
# df['Active cases']=df['Active cases'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [17]:
# df['Recovered']=df['Recovered'].apply(lambda x:re.sub(r" ?\([^)]+\)", "", x))

In [18]:
# df['Deaths']=df['Deaths'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [19]:
df['Active cases']=df['Active cases'].map(lambda x: int(x))
df['Deaths']=df['Deaths'].map(lambda x: int(x))

In [20]:
# Top five cities have Maximum Deaths
df.sort_values('Deaths',ascending=False).head()

    Districts  Active cases  Recovered  Deaths  Total cases  Tests
0    Amritsar           277       1039      65         1381  35.6k
11   Ludhiana           774       1315      49         2138  51.9K
9   Jalandhar           600       1196      37         1832  32.5K
20    Sangrur           192        651      22          865  20.5K
18    Patiala           655        510      19         1184  32.8K

In [21]:
# Top five cities have Maximum Active cases
df.sort_values('Active cases',ascending=False).head()

    Districts  Active cases  Recovered  Deaths  Total cases  Tests
11   Ludhiana           774       1315      49         2138  51.9K
18    Patiala           655        510      19         1184  32.8K
9   Jalandhar           600       1196      37         1832  32.5K
0    Amritsar           277       1039      65         1381  35.6k
14     Mohali           214        408      13          635  20.9K

In [22]:
df.describe()

       Active cases    Recovered     Deaths  Total cases
count     22.000000    22.000000  22.000000    22.000000
mean     169.136364   351.863636  12.636364   533.681818
std      218.951244   368.551385  17.053265   580.250881
min       20.000000    62.000000   0.000000    90.000000
25%       35.000000   137.000000   2.000000   207.500000
50%       76.500000   193.500000   5.500000   256.500000
75%      184.500000   379.000000  13.000000   571.000000
max      774.000000  1315.000000  65.000000  2138.000000

In [23]:
# Average cases has increased by 169 earlier it was recorded 147
df['Active cases'].mean()

169.13636363636363