<a href="https://colab.research.google.com/github/capitallatera/Minor_Projects/blob/master/covid19_in_punjab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pip install bs4

In [2]:
# importing the BeautifulSoup Library
import bs4
import requests

In [3]:
res=requests.get("https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Punjab,_India")

In [4]:
# Convert the request object to the Beautiful Soup Object
soup=bs4.BeautifulSoup(res.text,'html.parser')

In [5]:
data=[]
data_iterator=iter(soup.find_all('tr'))

In [6]:
while True:
    try:
        d_1=next(data_iterator).text
        
        data.append((
            d_1
        ))
    except StopIteration:
        break

In [7]:
jj=[]
for i in data:
    s=i.replace("\n\n",',')
    s=s.replace('\n','')
    jj.append([s])

In [8]:
for i,j in zip(jj,range(len(jj))):
    if i[0]=='COVID-19 pandemic in Punjab by Districts':
        print(i[0],j)
    if i[0]=='Date(2020),District,Cases,Deaths':
        print(i[0],j)

COVID-19 pandemic in Punjab by Districts 16
Date(2020),District,Cases,Deaths 42

In [9]:
llst=[]
for i,j in zip(jj,range(len(jj))):
    if j>=19 and j<41:
        llst.append([i[0]])

In [10]:
lst=[]
for j in range(len(llst)):
    ii=llst[j][0].split(',')
    lst.append(ii)

In [11]:
import csv
fields=['Districts','Active cases','Recovered','Deaths','Total cases','Tests']
lst
filename='covid19_punjab_dataset.csv'
with open(filename,'w') as csvfile:
    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(lst)

In [12]:
# llst
lst

[['Amritsar', '499', '2165', '110', '2774', '-'],
 ['Barnala', '440', '180', '12', '632', '-'],
 ['Bathinda', '514', '606', '13', '1133', '-'],
 ['Faridkot', '228', '338', '2', '568', '-'],
 ['Fatehgarh Sahib', '169', '460', '9', '639', '-'],
 ['Fazilka', '111', '340', '5', '456', '-'],
 ['Firozpur', '444', '447', '14', '905', '-'],
 ['Gurdaspur', '327', '805', '29', '1161', '-'],
 ['Hoshiarpur', '171', '648', '24', '843', '-'],
 ['Jalandhar', '1453', '2470', '100', '3960', '-'],
 ['Kapurthala', '239', '344', '22', '605', '-'],
 ['Ludhiana', '2234', '4398', '242', '6874', '-'],
 ['Mansa', '109', '165', '1', '275', '-'],
 ['Moga', '284', '462', '9', '755', '-'],
 ['Mohali', '903', '887', '33', '1823', '-'],
 ['Muktsar Sahib', '91', '279', '3', '373', '-'],
 ['Nawanshahr', '128', '319', '7', '454', '-'],
 ['Pathankot', '247', '499', '16', '762', '-'],
 ['Patiala', '1782', '1808', '77', '3667', '-'],
 ['Rupnagar', '128', '323', '7', '458', '-'],
 ['Sangrur', '264', '1201', '54', '1519', '-'],
 ['Tarn Taran', '198', '350', '22', '570', '-']]

###  Reading the dataset

In [13]:
import pandas as pd

In [14]:
df=pd.read_csv('covid19_punjab_dataset.csv')
df.head(3)

  Districts  Active cases  Recovered  Deaths  Total cases Tests
0  Amritsar           499       2165     110         2774     -
1   Barnala           440        180      12          632     -
2  Bathinda           514        606      13         1133     -

In [15]:
# # remove the parenthesis area
# s='a(12)b'
# import re
# re.sub(r" ?\([^)]+\)", "", s)

In [16]:
df.head(2)

  Districts  Active cases  Recovered  Deaths  Total cases Tests
0  Amritsar           499       2165     110         2774     -
1   Barnala           440        180      12          632     -

In [17]:
import re
# df['Active cases']=df['Active cases'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [18]:
# df['Recovered']=df['Recovered'].apply(lambda x:re.sub(r" ?\([^)]+\)", "", x))

In [19]:
# df['Deaths']=df['Deaths'].apply(lambda x:re.sub(r" ?\([^)]+\)","", x))

In [20]:
df['Active cases']=df['Active cases'].map(lambda x: int(x))
df['Recovered']=df['Recovered'].map(lambda x: int(x))
df['Deaths']=df['Deaths'].map(lambda x: int(x))

In [21]:
# Top five cities have Maximum Deaths
df.sort_values('Deaths',ascending=False).head()

    Districts  Active cases  Recovered  Deaths  Total cases Tests
11   Ludhiana          2234       4398     242         6874     -
0    Amritsar           499       2165     110         2774     -
9   Jalandhar          1453       2470     100         3960     -
18    Patiala          1782       1808      77         3667     -
20    Sangrur           264       1201      54         1519     -

In [22]:
# Top five cities have Maximum Active cases
df.sort_values('Active cases',ascending=False).head()

    Districts  Active cases  Recovered  Deaths  Total cases Tests
11   Ludhiana          2234       4398     242         6874     -
18    Patiala          1782       1808      77         3667     -
9   Jalandhar          1453       2470     100         3960     -
14     Mohali           903        887      33         1823     -
2    Bathinda           514        606      13         1133     -

In [23]:
df.describe()

       Active cases    Recovered      Deaths  Total cases
count     22.000000    22.000000   22.000000    22.000000
mean     498.318182   886.090909   36.863636  1418.454545
std      582.417817  1011.325434   55.270155  1594.837736
min       91.000000   165.000000    1.000000   275.000000
25%      169.500000   338.500000    7.500000   568.500000
50%      255.500000   461.000000   15.000000   758.500000
75%      485.250000   866.500000   32.000000  1429.500000
max     2234.000000  4398.000000  242.000000  6874.000000

In [24]:
# Average cases has increased by 498 earlier it was recorded 363
df['Active cases'].mean()

498.3181818181818